*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.mainContainer {
    display: flex;
}

header, footer {
    position: fixed;
    text-align: center;
    width: 100vw;
    height: 100px;
    border: 1px solid #000;
    z-index: 3;
    background-color: #F2F3F4;
}

footer {
    bottom: 0;
    background-color: #D4D5D6;
}

.sidebar{
    top: 102px;
    position: fixed;
    text-align: center;
    width: 100px;
    height: 67vh;
    background-color: #E4E5E6;
    border: 1px solid #000;
    
}

.table {
    position: relative;
    top: 100px;
    left: 100px;
    padding: 40px;
    width: 86vw;
    padding-bottom: 120px;
}

input {
    background-image: url(./img/search.png);
    background-repeat: no-repeat;
    background-position: 16px 13px;
    padding: 13px 16px;
    padding-left: 40px;
    width: 75%;
    border: 1px solid #DEE5EB;
    background-color: #f0f2f486;
    outline: none;
    margin-bottom: 16px;
}

button {
    background-color: #7B8395;
    color: #fff;
    padding: 13px 64.5px;
    border: none;
    border-radius: 0px;
}

thead {
    background-color: #f0f2f480;
    text-align: center;
    color: #7B8395;
}

table {
    width: 95%;
    border: 1px solid #DEE5EB;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.carModel {
    text-align: left;
    padding-right: 0;
    width: 17%;
}

a{
    text-decoration: none;
    color: #7B8395;
}

th, td {
    padding: 16px;
    border: 1px solid #DEE5EB;
}

td {
    background-color: #fff;
}

.hide{
    display: none;
}

.chosenCar {
    margin-bottom: 110px;
}
